.features-container{
    background: #323232;
}

.features{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .cards{
        display: flex;
        justify-content: space-between;
        color: black;
        .card{
            background: white;
            margin: 0rem 5rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            border-radius: 2rem;
            h4{
                margin: 2rem 0rem 1rem;
            }
            p{
                padding: 2rem;
            }
            img{
                object-fit: cover;
            }
        }
    }
}